Job Recomendation Using Knowledge Graph

In [1]:
import pandas as pd
import numpy as np

In [17]:
dataset = pd.read_csv("Resume_Dataset/survey_results_public.csv")

c:\users\hp\appdata\local\programs\python\python310\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
resume_subset= dataset[['Respondent','Country','Student','CompanySize','Dependents','DevType','Gender','JobSatisfaction','LastNewJob','Salary','LanguageWorkedWith','LanguageDesireNextYear','DatabaseWorkedWith','DatabaseDesireNextYear','PlatformWorkedWith','PlatformDesireNextYear','FrameworkWorkedWith','FrameworkDesireNextYear','OperatingSystem','HypotheticalTools1','Age']]
df = pd.DataFrame(resume_subset)
df

,Respondent,Country,Student,CompanySize,Dependents,DevType,Gender,JobSatisfaction,LastNewJob,Salary,...,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,HypotheticalTools1,Age
0,1,Kenya,No,20 to 99 employees,Yes,Full-stack developer,Male,Extremely satisfied,Less than a year ago,NaN,...,JavaScript;Python;HTML;CSS,Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...,Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...,AWS;Azure;Linux;Firebase,AWS;Azure;Linux;Firebase,Django;React,Django;React,Linux-based,Extremely interested,25 - 34 years old
1,3,United Kingdom,No,"10,000 or more employees",Yes,Database administrator;DevOps specialist;Full-...,Male,Moderately dissatisfied,More than 4 years ago,51000,...,Go;Python,Redis;PostgreSQL;Memcached,PostgreSQL,Linux,Linux,Django,React,Linux-based,A little bit interested,35 - 44 years old
2,4,United States,No,20 to 99 employees,NaN,Engineering manager;Full-stack developer,NaN,Moderately satisfied,Less than a year ago,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,United States,No,100 to 499 employees,No,Full-stack developer,Male,Neither satisfied nor dissatisfied,Less than a year ago,NaN,...,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,"SQL Server;Microsoft Azure (Tables, CosmosDB, ...","SQL Server;Microsoft Azure (Tables, CosmosDB, ...",Azure,Azure,NaN,Angular;.NET Core;React,Windows,Somewhat interested,35 - 44 years old
4,7,South Africa,"Yes, part-time","10,000 or more employees",Yes,Data or business analyst;Desktop or enterprise...,Male,Slightly satisfied,Between 1 and 2 years ago,260000,...,Assembly;C;C++;Matlab;SQL;Bash/Shell,SQL Server;PostgreSQL;Oracle;IBM Db2,PostgreSQL;Oracle;IBM Db2,Arduino;Windows Desktop or Server,Arduino;Windows Desktop or Server,NaN,NaN,Windows,Extremely interested,18 - 24 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98850,101513,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98851,101531,Spain,"Yes, full-time",NaN,NaN,Back-end developer;Front-end developer,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98852,101541,India,"Yes, full-time",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98853,101544,Russian Federation,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98854,101548,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df1 = df.dropna()
df1

,Respondent,Country,Student,CompanySize,Dependents,DevType,Gender,JobSatisfaction,LastNewJob,Salary,...,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,HypotheticalTools1,Age
1,3,United Kingdom,No,"10,000 or more employees",Yes,Database administrator;DevOps specialist;Full-...,Male,Moderately dissatisfied,More than 4 years ago,51000,...,Go;Python,Redis;PostgreSQL;Memcached,PostgreSQL,Linux,Linux,Django,React,Linux-based,A little bit interested,35 - 44 years old
5,8,United Kingdom,No,10 to 19 employees,No,Back-end developer;Database administrator;Fron...,Male,Moderately satisfied,Between 2 and 4 years ago,30000,...,C#;Go;Java;JavaScript;Python;SQL;TypeScript;HT...,MongoDB,PostgreSQL,Linux,Linux,Angular;Node.js,Node.js,Linux-based,A little bit interested,18 - 24 years old
17,27,Sweden,No,10 to 19 employees,Yes,Back-end developer,Male,Moderately satisfied,Between 1 and 2 years ago,32000,...,C#;F#;Haskell;SQL;Ocaml,SQL Server,Redis;SQL Server;PostgreSQL;Elasticsearch,Linux;Windows Desktop or Server,Linux;Windows Desktop or Server,.NET Core,.NET Core,Windows,Not at all interested,35 - 44 years old
20,33,Australia,No,"1,000 to 4,999 employees",Yes,Database administrator;Full-stack developer;Mo...,Male,Slightly satisfied,Between 2 and 4 years ago,120000,...,C;C++;Go;Python;SQL;Swift;Kotlin,Redis;PostgreSQL;SQLite,Redis;PostgreSQL;SQLite;Google BigQuery,Android;AWS;iOS;Linux;Mac OS;Firebase,Android;AWS;Google Cloud Platform/App Engine;i...,Angular;Node.js,Angular;Node.js;TensorFlow,MacOS,A little bit interested,35 - 44 years old
22,37,United Kingdom,No,20 to 99 employees,No,Back-end developer;Database administrator;Desi...,Male,Slightly satisfied,More than 4 years ago,25,...,C#;JavaScript;PHP;SQL;HTML;CSS,MySQL,SQL Server;MySQL,Linux;Mac OS;Windows Desktop or Server,Linux;Mac OS;Windows Desktop or Server,.NET Core,.NET Core,Windows,Somewhat interested,25 - 34 years old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71505,101560,United States,No,"1,000 to 4,999 employees",Yes,Front-end developer,Male,Extremely satisfied,Less than a year ago,85000,...,C++;C#;Java;JavaScript;SQL;HTML;CSS;Bash/Shell,MongoDB;MySQL;PostgreSQL,MySQL;PostgreSQL,Android;AWS;iOS;Mac OS;Firebase,Android;Apple Watch or Apple TV;iOS;Mac OS;Ras...,Angular;Node.js;React,Node.js;React,MacOS,Somewhat interested,25 - 34 years old
71510,101567,Australia,"Yes, full-time","10,000 or more employees",No,Back-end developer,Male,Moderately satisfied,Between 1 and 2 years ago,140000,...,Java;JavaScript;Python;Ruby;TypeScript;Kotlin,MySQL;PostgreSQL;Amazon DynamoDB;Amazon Redshi...,Amazon DynamoDB,Amazon Echo;Android,Amazon Echo,Node.js;React;Spring,Spring,MacOS,Extremely interested,25 - 34 years old
71517,101576,United States,No,"10,000 or more employees",No,Back-end developer;Desktop or enterprise appli...,Male,Slightly satisfied,Less than a year ago,80000,...,C#;F#;JavaScript;SQL;TypeScript,"SQL Server;PostgreSQL;Microsoft Azure (Tables,...",SQL Server;PostgreSQL;Elasticsearch,Android;Azure;iOS;Windows Desktop or Server,Android;Azure;iOS;Windows Desktop or Server,Angular;.NET Core;Node.js;Xamarin,Angular;.NET Core;Node.js;Xamarin,Windows,Somewhat interested,25 - 34 years old
71524,101584,United States,"Yes, full-time",20 to 99 employees,No,"Back-end developer;C-suite executive (CEO, CTO...",Male,Extremely satisfied,More than 4 years ago,165000,...,Clojure;R,Redis;SQL Server;PostgreSQL;Microsoft Azure (T...,Redis;PostgreSQL,AWS;Azure;Google Cloud Platform/App Engine;Lin...,Linux,Django;Node.js;React;TensorFlow;Torch/PyTorch,Django;React;TensorFlow;Torch/PyTorch,MacOS,Not at all interested,35 - 44 years old
71526,101587,Canada,No,Fewer than 10 employees,No,Back-end developer;Full-stack developer;Produc...,Male,Extremely satisfied,Between 1 and 2 years ago,"80,000.00",...,Python;Kotlin,MongoDB;SQL Server;MySQL;PostgreSQL;MariaDB;Am...,Cassandra,Android;AWS;iOS;Linux;Firebase,Amazon Echo,.NET Core;Node.js,React,MacOS,Extremely interested,25 - 34 years old

In [3]:
jd = pd.read_csv("Job Description Dataset/dice_com-job_us_sample.csv")

In [31]:
index_no = df1.columns.get_loc('LanguageWorkedWith')
index_no

10

In [59]:
df1['skills'] = df1[df1.columns[10:17]].values.tolist()
df1['skills']

C:\Users\hp\AppData\Local\Temp/ipykernel_10308/3815541434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['combine'] = df1[df1.columns[10:17]].values.tolist()

1        [JavaScript;Python;Bash/Shell, Go;Python, Redi...
5        [Java;JavaScript;Python;TypeScript;HTML;CSS, C...
17       [C#;SQL;HTML;CSS;Bash/Shell, C#;F#;Haskell;SQL...
20       [C;C++;Go;Python;SQL;Swift, C;C++;Go;Python;SQ...
22       [C#;JavaScript;PHP;SQL;HTML;CSS, C#;JavaScript...
                               ...
71505    [C#;Java;JavaScript;PHP;SQL;HTML;CSS;Bash/Shel...
71510    [Java;JavaScript;SQL;Bash/Shell, Java;JavaScri...
71517    [C#;JavaScript;PHP;SQL;TypeScript;VB.NET;HTML;...
71524    [C#;Clojure;Go;Java;JavaScript;PHP;R;SQL;HTML;...
71526    [C#;Go;Java;JavaScript;PHP;SQL;Swift;HTML;CSS,...
Name: combine, Length: 16757, dtype: object

In [61]:
df['skills'] = df['skills'].apply(lambda x: list(set(x)))
df1['skills']

KeyError: 'skills'